@media only screen and (max-width: 600px) {
    /* Styles for mobile screens */
}

body {
    background-color: white;
    margin: 0;
    color: black;
    flex-direction: column;
}

i {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-self: center;
}

.title {
    display: flex;
    margin: 0;
    background-color: #c3c9ce;
    width: 100%;
    justify-content: center;


}

.converter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: #c3c9ce;
}

.fas {
    color: black;
}

th,
td {
    border: 1px solid #020000;
    padding: 8px;
    text-align: center;
}

th {
    position: sticky;
    top: 0px;
    background-color: rgb(230, 240, 187);
}
.row4 {
    position: sticky;
    top: 34px;
    background-color: rgb(226, 231, 200);
}

.row5 {
    position: sticky;
    top: 34px;
    background-color: rgb(226, 231, 200);
}

tr {
    border: none;
}

table {
    border-collapse: collapse;
    background: linear-gradient(to bottom, #378ee6, #2b88e4, #fb7272, #ff6666, #ff3333db);

}

input {
    width: 100px;
    height: 15px;
}
.temp-table {
display: flex;
justify-content: center;
}
.result-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}
