@media only screen and (max-width: 600px) {
    /* Styles for mobile screens */
}

body {
    background: linear-gradient(to right, #e7e5e5, #908f8e);
    margin: 0;
    color: #212121;
    flex-direction: column;
}

i {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-self: center;
}

.title {
    display: flex;
    margin: 0;
    background: linear-gradient(to right, #707170, #4c534e);
    width: 100%;
    justify-content: center;


}

.converter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to right, #707170, #4c534e);
}

.fas {
    color: #212121;
}

th,
td {
    border: 1px solid #3c3b3b8f;
    padding: 8px;
    text-align: center;
}

th {
    position: sticky;
    top: 0px;
    background-color: rgb(230, 240, 187);
}
.row4 {
    position: sticky;
    top: 34px;
    background-color: rgb(226, 231, 200);
}

.row5 {
    position: sticky;
    top: 34px;
    background-color: rgb(226, 231, 200);
}

tr {
    border: none;
}

table {
    border-collapse: collapse;
    background: linear-gradient(to bottom, #137ae1, #3990e8, rgb(227, 182, 182), #ec8383, #f36a6a);
    margin-bottom: 40px;
}

input {
    width: 100px;
    height: 15px;
}
.temp-table {
display: flex;
justify-content: center;
}
.result-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}
